.container{
text-align: center; 
text-decoration: none !important;
background: white;
width: 30%;
max-width: 30%;
margin: 0; 
padding: 0;
max-height: 100%;
height: 100%;
}
.card{
    max-width: 90%;
    width: 90%;
    height: 25%;
    max-height: 25%;
    align-items: center;
    border-radius: 15px;
    background: #520500;
    margin-left: 5%;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.carddos:hover{
    background: #F28705;
    color: white;
    border: 5px solid #F28705;
}
.carddos{
    max-width: 90%;
    width: 90%;
    height: 10%;
    max-height: 10%;
    align-items: center;
    border-radius: 15px;
    margin-left: 5%;
    margin-bottom: 10px;
    color: #F28705;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imagen{
    
}
