nav{
    position: fixed; 
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%; 
    background-color: white;
    justify-content: flex-start;
}

.opcNav{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 50%;
}

h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
    word-wrap: break-word;
}

#inventario img {
    display: flex;
    width: 70px;
    height: auto;
    margin-left: 3%;
}
#pedidos img {
    display: flex;
    width: 90px;
    height: auto;
}
#reporteVentas img{
    display: flex;
    width: 70px;
    height: auto;
    margin-left: 3%;
}

#pedidos, #inventario, #reporteVentas, #cerrarSesion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
}
#pedidos:hover, #inventario:hover, #reporteVentas:hover{
    background-color: #f287059a;
    margin-left: 0%;
}

#cerrarSesion h2{
    color: #D90404;
}

#cerrarSesion img{
    width: 20px;
    height: 20px;
    margin-left: 25%;
}

#logoNav{
    display: flex;
    width: 300px;
    height: auto;
    margin-right: 15%;
}


